@model ppedv.ProjectAli.Domain.Airport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Airport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocInt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocInt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iata)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Elevation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Elevation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupportedWTC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupportedWTC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
